[class] {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
}

*,
*::before,
*::after {
  color: inherit;
  font-size: 100%;
  text-wrap: balance;
  font-family: inherit;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #676767 #424242;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus-visible {
  outline: ptrm(3) solid rgb(27 127 204 / 80%);
  caret-color: rgb(27 127 204 / 80%);
}

::spelling-error {
  text-decoration: none;
  background-color: rgb(255 0 0 / 25%);
}

::selection {
  color: #0F1B24;
  text-decoration: underline;
  background-color: #FFECA6;
}

html,
body {
  width: 100%;
  margin: 0px;
  scroll-behavior: smooth;
}

[inert],
[inert] *,
[disabled]:where(
  button,
  fieldset,
  optgroup,
  option,
  select,
  textarea,
  input) {
  opacity: 0.7;
  pointer-events: none;
  cursor: default;
  user-select: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
select {
  cursor: pointer;
}

@media (hover:hover) {
  input:hover {
    cursor: pointer;
  }
}

input:focus-visible {
  cursor: text;
}

[hidden] {
  display: none !important;
}